.head{
    height: 80px;
    width: 100%;
    background-color: lightgreen;
}
.nav{
    height: 400px;
    width: 200px;
    background-color: lightgreen;
    margin-top: 10px;
    float: left;
}
.art{
    height: 300px;
    width: 1140px;
    background-color: lightgreen;
    margin-top: 10px;
    margin-left: 210px;
   
}
.ads{
    height: 85px;
    width: 1140px;
    background-color: lightgreen;
    margin-top: 10px;
    margin-left: 210px;  
}
.footer{
    clear: both;
    height: 100px;
    width: 100%;
    margin-top: 10px;
    background-color: lightgreen;
}
